@at-root {
	.form-checkbox,
	.form-radio {
		align-items: baseline;
		display: flex;

		.input {
			flex: 0 0 auto;
			margin-right: 6px;
			width: auto;
		}

		.label {
			flex: 1 1 auto;
		}
	}
}

@at-root {
	.form-file {

		.js & {

			input[type="file"] {
				@include hidden;
			}
		}

		.no-js & {

			.label {
				display: none;
			}
		}

		.label {
			cursor: pointer;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {

				.button {
					background-color: $color-500;
				}
			}

			> * {
				pointer-events: none;
			}
		}

		.button {
			@include font-size-400;
			background-color: $color-400;
			color: $white;
			margin-right: 4px;
			padding: 6px 12px;

			&:hover {
				background-color: $color-500;
			}
		}

		.caption {
			@include font-size-400;
			color: $color-text-light;
			display: inline-block;
			vertical-align: middle;

			&.has-caption {
				color: $color-text;
			}
		}
	}
}

@at-root {
	.form-phone {

		.label {
			display: inline-block;

			+ .input {
				display: flex;
				margin-top: 2px;
				width: 100%;
			}
		}

		.input {

			&.input-code {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;
				color: $color-text;
				flex: 0 1 auto;
				width: 64px;
			}

			&.input-phone {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				flex: 1 1 auto;
			}
		}
	}
}

@at-root {
	.form-texts {
		margin: -8px -8px 8px;
		position: relative;

		@include breakpoint(crawler) {
			display: flex;
			flex-wrap: wrap;
		}

		&:last-child {
			margin-bottom: -8px;
		}

		.form-text {
			margin-bottom: 0;
			padding: 8px 8px;

			@include breakpoint(crawler) {
				flex: 0 1 50%;
			}
		}
	}

	.form-text {
		margin-bottom: 16px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&.is-filled {

			.label {
				transform: scale(0.75) translateX(4px);
			}
		}

		.label {
			@include ellipsis;
			background-color: $white;
			color: $color-text-light;
			left: 1px;
			padding: 4px 8px;
			pointer-events: none;
			position: absolute;
			right: 1px;
			top: 1px;
			transform-origin: left top;
			transform: translateY(8px);
			transition: all 0.2s ease-out;
		}

		.input {
			font-weight: 600;
			padding: 20px 8px 4px 8px;

			&:active,
			&:focus {

				+ .label {
					transform: scale(0.75) translateX(4px);
				}
			}

			&.input-textarea {
				height: 120px;
				resize: none;
			}
		}

		.caption {
			@include font-size-400;
			color: $color-text-light;
			margin: 4px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@at-root {
	.form-submit {
		text-align: right;
	}
}
