@at-root {
	[class^="form-"] {

		.caption {
			@include font-size-400;
			color: $color-text-light;
			margin-top: 8px;
		}
	}
}

@at-root {
	.form-group {
		margin: -8px;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		@include breakpoint(crawler) {
			display: flex;
			flex-wrap: wrap;
		}

		&:last-child {
			margin-bottom: -8px;
		}

		[class^="form-"] {
			margin-bottom: 0;
			padding: 8px 8px;

			&:not(:last-child) {
				margin-bottom: 0;
			}

			@include breakpoint(crawler) {
				flex: 0 1 50%;
			}
		}
	}
}

@at-root {
	.form-checkbox {
		align-items: baseline;
		display: flex;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.input {
			flex: 0 0 auto;
			margin-right: 6px;
			width: auto;
		}

		.label {
			flex: 0 1 auto;
		}
	}
}

@at-root {
	.form-radios {
		background-color: $white;
		border: 1px solid $color-border;
		border-radius: 6px;
		margin-bottom: 16px;
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.form-radios {
			border: 1px solid $color-border;
			box-shadow: none;
			margin-top: 12px;

			.form-radio {
				background-color: transparent;
				margin-bottom: 0;
			}

			.input {

				&:checked {

					+ .label {
						background-color: transparent;
						color: $color-text;

						&:before {
							background-image: url("assets/images/symbols/icon-check-light.svg");
							background-color: $color-two-500;
							border-color: transparent;
						}
					}
				}

				+ .label {
					background-color: transparent;
					position: relative;

					&:before {
						content: "";
						background-color: $white;
						background-size: 14px;
						border: 1px solid $color-border;
						border-radius: 50%;
						color: $white;
						display: inline-block;
						height: 16px;
						line-height: 16px;
						margin-right: 8px;
						position: relative;
						top: -2px;
						vertical-align: middle;
						width: 16px;
					}
				}
			}
		}

		.form-radio {
			border-bottom: 1px solid $color-border;
			margin-bottom: 0;
			display: block;

			&:last-child {
				border-bottom: 0;
			}
		}

		.input {
			display: none;

			+ .label {
				color: $color-text-lighter;
				display: block;
				font-weight: 600;
				margin-bottom: 0;
				padding: 16px;
				transition: all 0.1s ease-out;
				width: 100%;

				&:hover {
					color: $color-600;
				}
			}

			&:checked {

				+ .label {
					color: $color-one-500;

					+ .desc {
						display: block;
					}
				}
			}
		}

		.desc {
			display: none;
			margin-top: -12px;
			padding: 0 16px 16px;

			p {
				margin-bottom: 12px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.logos {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.logo {
			border: 1px solid $color-border-light;
			border-radius: 3px;
			display: inline-block;
			overflow: hidden;
		}
	}

	.form-radio {
		align-items: baseline;
		display: flex;

		.input {
			flex: 0 0 auto;
			margin-right: 6px;
			width: auto;
		}

		.label {
			flex: 1 1 auto;
		}
	}
}

@at-root {
	.form-file {

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.js & {

			input[type="file"] {
				@include hidden;
			}
		}

		.no-js & {

			.label {
				display: none;
			}
		}

		.label {
			cursor: pointer;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {

				.button {
					background-color: $color-500;
				}
			}

			> * {
				pointer-events: none;
			}
		}

		.button {
			@include font-size-400;
			background-color: $color-400;
			color: $white;
			margin-right: 4px;
			padding: 6px 12px;

			&:hover {
				background-color: $color-500;
			}
		}

		.placeholder {
			@include font-size-400;
			color: $color-text-light;
			display: inline-block;
			vertical-align: middle;

			&.has-placeholder {
				color: $color-text;
			}
		}
	}
}

@at-root {
	.form-phone {

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.label {
			display: inline-block;
			margin-bottom: 2px;

			+ .input {
				display: flex;
				width: 100%;
			}
		}

		.input {

			&.input-code {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;
				color: $color-text;
				flex: 0 1 auto;
				width: 64px;
			}

			&.input-phone {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				flex: 1 1 auto;
			}
		}
	}
}

@at-root {
	.form-select {

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.label {
			display: inline-block;
			margin-bottom: 2px;
		}

		.input {
			width: 100%;
		}
	}
}

@at-root {
	.form-text {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.label {
			display: inline-block;
			margin-bottom: 2px;
		}

		.input {
			display: block;
			width: 100%;

			&.input-textarea {
				height: 120px;
				resize: none;
			}
		}

		.caption {
			@include font-size-400;
			color: $color-text-light;
			margin: 4px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@at-root {
	.form-submit {

		&.form-submit-right {
			text-align: right;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}
