.form-groups {
	margin: -6px -8px;
	position: relative;

	@include breakpoint(crawler) {
		display: flex;
		flex-wrap: wrap;
	}

	.form-group {
		padding: 6px 8px;

		@include breakpoint(crawler) {
			flex: 0 1 50%;
		}

		&.form-group-wide {

			@include breakpoint(crawler) {
				flex: 1 1 100%;
			}
		}
	}
}

.form-group {
	position: relative;

	.label {
		display: inline-block;

		.input {
			display: inline-block;
			width: auto;
		}

		+ .input {
			margin-top: 4px;
		}
	}

	.input {
		display: block;
		width: 100%;
	}

	.caption {
		@include font-size-400;
		color: $color-text-light;
		margin: 4px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.req {
		color: $color-alert;
	}

	&.form-group-submit {
		text-align: right;
	}
}

.form-checkbox,
.form-radio {
	align-items: baseline;
	display: flex;

	.input {
		flex: 0 0 auto;
		margin-right: 6px;
		width: auto;
	}

	.label {
		flex: 1 1 auto;
	}
}

.form-text {
	position: relative;

	&.is-filled {

		.label {
			transform: scale(0.75) translateX(4px);
		}
	}

	.input {
		font-weight: 600;
		padding: 20px 8px 4px 8px;

		&:active,
		&:focus {

			+ .label {
				transform: scale(0.75) translateX(4px);
			}
		}

		&.input-textarea {
			height: 120px;
			resize: none;
		}
	}

	.label {
		@include ellipsis;
		background-color: $white;
		color: $color-text-lighter;
		left: 1px;
		padding: 4px 8px;
		pointer-events: none;
		position: absolute;
		right: 1px;
		top: 1px;
		transform-origin: left top;
		transform: translateY(8px);
		transition: all 0.2s $ease;
	}
}

.form-file {

	.js & {

		input[type="file"] {
			@include hidden;
		}
	}

	.no-js & {

		.label {
			display: none;
		}
	}

	.label {
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;

		&:hover {

			.button {
				background-color: $color-500;
			}
		}

		> * {
			pointer-events: none;
		}
	}

	.button {
		@include font-size-400;
		background-color: $color-400;
		color: $white;
		margin-right: 4px;
		padding: 6px 12px;

		&:hover {
			background-color: $color-500;
		}
	}

	.caption {
		@include font-size-400;
		color: $color-text-light;
		display: inline-block;
		vertical-align: middle;

		&.has-caption {
			color: $color-text;
		}
	}
}
