.tabs {

	> .content {
		background-color: $white;
		border: 1px solid $color-border;
		border-top: 0;
		overflow: hidden;
		padding: 0 !important;
	}

	.tabs-nav {
		box-shadow: inset 0 -1px 0 $color-border;

		li {
			display: inline-block;
		}

		a {
			background-color: $color-border;
			border: 1px solid $color-border;
			border-bottom: 0;
			color: $white;
			display: block;
			padding: 8px 24px;
			transition: all 0.2s $ease;

			&:hover,
			&:focus {
				background-color: $color-border-light;
				border-color: $color-border-light;
				text-decoration: none;
			}

			&.is-selected {
				background-color: $white;
				border-color: $color-border;
				color: $color-700;
			}
		}
	}

	.tab {
		display: none;
		padding: 24px;

		&.is-selected {
			display: block;
		}
	}
}
