// COLORS

$white: 				#FFFFFF;
$black: 				#000000;

$color-0: 				$white;
$color-100: 			#f5f5f5;
$color-200: 			#e3e3e3;
$color-300: 			#c8c8c8;
$color-400: 			#a3a3a3;
$color-500: 			#7a7a7a;
$color-600: 			#525252;
$color-700: 			#3d3d3d;
$color-800: 			#292929;
$color-900: 			$black;

$color-one-400: 		#2bad29;
$color-one-500: 		#259b24;
$color-one-600: 		#056f00;

$color-two-400: 		#f20e3c;
$color-two-500: 		#e00032;
$color-two-600: 		#c00010;

$color-info: 			#5CB4EE;
$color-info-light: 		#CEE5F5;

$color-success: 		#269921;
$color-success-light: 	#C6EBC5;

$color-warning: 		#FCAD2A;
$color-warning-light: 	#FFEBCC;

$color-alert: 			#F60F26;
$color-alert-light: 	#FABEC4;

$color-viewport: 		$color-800;
$color-background: 		$white;

$color-text-darker: 	$color-900;
$color-text-dark: 		$color-800;
$color-text: 			$color-600;
$color-text-light: 		$color-500;
$color-text-lighter: 	$color-400;

$color-border-dark: 	$color-400;
$color-border: 			$color-300;
$color-border-light: 	$color-200;

$color-dribbble: 		#ea4c89;
$color-facebook: 		#3b5998;
$color-google: 			#cc3732;
$color-instagram: 		#3f729b;
$color-line: 			#1BB71F;
$color-linkedin: 		#0077b5;
$color-pinterest: 		#cc2127;
$color-twitter: 		#00aced;
$color-whatsapp: 		#33D16B;
$color-youtube: 		#cd201f;

// TYPOGRAPHY

$sans-serif: 			"Helvetica Neue", sans-serif;
$serif: 				Georgia, serif;
$monospace: 			Menlo, Monaco, Consolas, "Courier New", monospace;

$font-size-100: 		11px;
$line-height-100: 		1.454545455;

$font-size-200: 		12px;
$line-height-200: 		1.333333333;

$font-size-300: 		13px;
$line-height-300: 		1.384615385;

$font-size-400: 		14px;
$line-height-400: 		1.428571429;

$font-size-500: 		16px;
$line-height-500: 		1.5;

$font-size-600: 		18px;
$line-height-600: 		1.444444444;

$font-size-700: 		20px;
$line-height-700: 		1.4;

$font-size-800: 		24px;
$line-height-800: 		1.333333333;

$font-size-900: 		48px;
$line-height-900: 		1.333333333;

$font-size-h1: 			36px;
$line-height-h1: 		1.111111111;

$font-size-h2: 			30px;
$line-height-h2: 		1.2;

$font-size-h3: 			24px;
$line-height-h3: 		1.166666667;

$font-size-h4: 			20px;
$line-height-h4: 		1.2;

$font-size-h5: 			18px;
$line-height-h5: 		1.333333333;

$font-size-h6: 			16px;
$line-height-h6: 		1.25;

// TRANSITION

$ease: 		ease-in-out;
$bounce: 	cubic-bezier(0.5, 0.15, 0.25, 1.25);
