// GLOBALS

.button {

	&.button-primary {
		@include button;
	}

	&.button-line {
		@include button(line);
	}

	&.button-small {
		@include button;
		@include font-size-400;
	}

	&.button-disabled {
		@include button(disabled);
	}
}

.icon {
	fill: currentColor;
	height: 1em;
	width: 1em;

	&.icon-inline {
		position: relative;
		top: -2px;
	}
}

.items {
	list-style: none;
	margin: 0;
	padding: 0;

	&.items-inline {
		font-size: 0;
		margin: 0 -8px -8px 0;

		.item {
			display: inline-block;
			font-size: $font-size-500;
			margin: 0 8px 8px 0;
		}
	}

	&.items-ordered,
	&.items-unordered {
		padding-left: 24px;
		text-indent: -24px;

		.item {

			&:before {
				content: "\2022";
				display: inline-block;
				min-width: 24px;
				text-indent: 2px;
				padding-right: 4px;
			}
		}
	}

	&.items-ordered {

		.item {
			counter-increment: list-ordered;

			&:before {
				content: counter(list-ordered) ". ";
				text-indent: 0;
			}
		}
	}
}

.table {
	background-color: $white;
	border-style: hidden;
	box-shadow: 0 0 0 1px $color-border;
	margin: 1px 1px 24px;
	width: calc(100% - 1px * 2);

	&:last-child {
		margin-bottom: 2px;
	}

	caption {
		color: $color-text-light;
		padding-top: 4px;
		padding-bottom: 4px;
		text-align: left;

		strong {
			color: $color-text;
		}
	}

	th,
	td {
		@include font-size-400;

		@include breakpoint(walker) {
			@include font-size-500;
		}
	}

	> thead {
		background-color: $color-100;

		> tr {

			> th {
				border: 1px solid $color-border;
				border-bottom: 1px solid $color-border;
				border-top: 0;
				color: $color-text-light;
				padding: 6px 8px;
				font-weight: 400;
				vertical-align: top;
				text-align: left;
			}
		}
	}

	> tbody {

		+ tbody {
			border-top: 2px solid $color-border;
		}

		> tr {

			&:nth-child(2n+1) {
				background-color: $color-100;
			}

			> td {
				border: 1px solid $color-border;
				padding: 16px 8px;
				text-align: left;
				vertical-align: middle;
			}
		}
	}
}

.nowrap {
	white-space: nowrap;
}

.required {
	color: $color-alert;
}

.tooltip {
	border-bottom: 1px dotted $color-500;
	position: relative;

	&:hover {

		&:before,
		&:after {
			opacity: 1;
			transform: translateY(0);
			z-index: 1;
		}

		&:after {
			transform: translateY(0);
		}
	}

	&:before {
		content: "";
		border-bottom: 3px solid $color-800;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		left: 50%;
		margin-left: -2px;
		margin-top: 1px;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		transform: translateY(-8px);
		transition: all 0.2s ease-out;
		z-index: -1;
	}

	&:after {
		@include ellipsis;
		@include font-size-200;
		content: attr(data-tooltip);
		background-color: $color-800;
		border-radius: 3px;
		color: $white;
		left: 0;
		margin-top: 4px;
		max-width: 192px;
		min-height: 20px;
		opacity: 0;
		padding: 2px 5px;
		pointer-events: none;
		position: absolute;
		top: 100%;
		text-align: center;
		transform: translateY(-8px);
		transition: all 0.2s ease-out;
		white-space: nowrap;
		z-index: -1;

		@include breakpoint(creeper) {
			max-width: 256px;
		}

		@include breakpoint(crawler) {
			max-width: 320px;
		}
	}

	&.tooltip-right {

		&:hover {

			&:before,
			&:after {
				opacity: 1;
				transform: translateX(0);
				z-index: 1;
			}
		}

		&:before {
			border-bottom: 3px solid transparent;
			border-left: none;
			border-right: 3px solid $color-800;
			border-top: 3px solid transparent;
			left: 100%;
			margin-left: 1px;
			margin-top: -2px;
			top: 50%;
			transform: translateX(-8px);
		}

		&:after {
			left: 100%;
			margin-left: 4px;
			margin-top: 0;
			top: 0px;
			transform: translateX(-8px);
		}
	}
}

.wrapper {
	@include wrapper-x;
}
