.main-content {
	@include wrapper-y;
	height: 100%;
	grid-area: main;
}

.main-sidebar {
	@include wrapper-xy(0.5);
	background-color: $color-100;
	grid-area: side;

	@include breakpoint(runner) {
		width: 256px;
	}
}
