.main-content {
	@include wrapper-xy(none, 1 0, left);
	height: 100%;
	grid-column: full;
}

.main-sidebar {
	@include wrapper-xy(none, 0.5, left);
	background-color: $color-100;
	grid-column: wrapper;

	@include breakpoint(runner) {
		grid-column: side;
	}
}
