.page-wrapper {
	// for &-header and &-footer
	@include wrapper-grid;
	height: 100%;

	> * {
		// for &-header and &-footer
		grid-column: wrapper;
	}

	&-content {
		@include wrapper-grid;
		grid-column: full;

		.section {
			grid-column: wrapper;

			&.section-full {
				grid-column: full;
			}
		}
	}
}
