.page-single {
	@include wrapper-grid;
	height: 100%;

	&-header,
	&-footer {
		grid-column: wrapper;
	}

	&-header {
		@include spacer(0 0 1);
	}

	&-content {
		@include wrapper-grid;
		grid-column: full;

		.section {
			grid-column: wrapper;

			&.section-full {
				grid-column: full;
			}

			+ .section {
				@include spacer(1 0 0);
			}
		}
	}

	&-footer {
		@include spacer(1 0 0);
	}
}
