.popup-inline {
	background-color: rgba($black, 0.8);
	bottom: 0;
	display: none;
	left: 0;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.2s ease-out;

	&.is-popping,
	&.is-popped,
	&.is-unpopping {
		display: block;
		z-index: 9;
	}

	&.is-popped {
		opacity: 1;
	}

	&-is-popped {
		overflow: hidden;
	}

	&-wrapper {
		@include wrapper-xy(1.5);
		background-color: $white;
		margin: 32px auto;
		max-width: $width-walker;
		opacity: 0;
		overflow-y: visible;
		position: relative;
		transform: translateY(-80px);
		transition: all 0.2s ease-out 0.05s;

		.popup-inline-is-popped & {
			opacity: 1;
			transform: translateY(0);
		}

		.popup-inline-is-unpopping & {
			opacity: 0;
			transition: all 0.15s ease-out 0s;
			transform: translateY(-80px);
		}

		&-large {
			max-width: $width-runner;
		}

		&-small {
			max-width: $width-crawler;
		}
	}

	&-close {
		position: absolute;
		right: 16px;
		top: 16px;

		> .close {
			color: $color-300;
			display: block;
			transition: all 0.2s ease-out;

			&:hover,
			&:focus {
				color: $color-text;
			}

			.icon {
				display: block;
				height: 32px;
				width: 32px;
			}
		}
	}

	&-head {
		margin-bottom: 32px;
		padding-bottom: 32px;

		.heading {
			@include font-size-h2;
			color: $color-one-500;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}
