.popup-inline {
	background-color: rgba($black, 0.8);
	bottom: 0;
	display: none;
	left: 0;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.2s ease-out;

	&.is-popping,
	&.is-popped,
	&.is-unpopping {
		display: block;
		z-index: 9;
	}

	&.is-popped {
		opacity: 1;
	}

	&-is-popped {
		overflow: hidden;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		opacity: 0;
		overflow-y: visible;
		padding: 32px;
		position: relative;
		transform: translateY(80px) scale(0.8);
		transition: all 0.2s ease-out 0.05s;

		.popup-inline.is-popped & {
			opacity: 1;
			transform: translateY(0) scale(1);
		}

		.popup-inline.is-unpopping & {
			opacity: 0;
			transform: translateY(80px) scale(0.8);
			transition: all 0.15s ease-out 0s;
		}
	}
}

.popup-box {
	background-color: $white;
	flex: 0 0 auto;
	margin: 0 auto;
	max-width: $width-walker;
	padding: 48px;
	width: 100%;

	&.popup-box-small {
		max-width: 480px;
	}

	&-head {
		position: relative;
		text-align: center;

		.heading {
			@include font-style-h2;
		}

		.close {
			position: absolute;
			right: -32px;
			top: -32px;

			.icon {
				height: 24px;
				width: 24px;
			}
		}
	}
}
