.site-container {
	background-color: $white;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	position: relative;
	grid-template-areas:
		'head head'
		'main main'
		'side side'
		'foot foot';

	@include breakpoint(runner) {
		grid-template-areas:
			'side head'
			'side main'
			'side foot';
	}
}

.site-header {
	grid-area: head;
	position: relative;
	width: 100%;
	z-index: 8;

	&-inner {
		@include wrapper-xy($width-max, 1, center);
	}
}

.site-content {
	grid-area: main;
	position: relative;

	&-inner {
		@include wrapper-grid;
		height: 100%;
	}
}

.site-sidebar {
	@include wrapper-xy(none, 0.5, left);
	background-color: $color-200;
	grid-area: side;

	@include breakpoint(runner) {
		width: $width-side;
	}
}

.site-footer {
	background-color: $color-bg-dark;
	color: $white;
	grid-area: foot;
	position: relative;
	transition: all 0.3s ease-out;
	width: 100%;
	z-index: 4;

	&-inner {
		@include wrapper-xy($width-max, 1, center);
		padding-bottom: 24px;
		padding-top: 24px;
	}
}
