// LAYOUT
$width-max: 					1280px;
$width-sidebar: 			256px;
$width-origin: 				320px;
$width-creeper: 			414px;
$width-crawler: 			640px;
$width-walker: 				768px;
$width-runner: 				1024px;
$width-jumper: 				1112px;
$width-flyer: 				1280px;
$width-teleporter: 		1440px;
$width-demigod: 			1600px;
$width-god: 					1920px;

$paddings: (
	origin: 16px,
	creeper: 24px,
	crawler: 32px,
	walker: 48px,
	flyer: 64px
);

// COLOR
$white: 							#FFFFFF;
$black: 							#000000;

$color-100: 					#FAFAFA;
$color-200: 					#E5E5E4;
$color-300: 					#D1D0CE;
$color-400: 					#A8A7A3;
$color-500: 					#7F7D78;
$color-600: 					#6A6864;
$color-700: 					#555450;
$color-800: 					#403F3D;
$color-900: 					#2B2B29;

$color-one-100: 			#D5EFDC;
$color-one-200: 			#ADDDBD;
$color-one-300: 			#87CAA0;
$color-one-400: 			#63B485;
$color-one-500: 			#409D6C;
$color-one-600: 			#2C8A5D;
$color-one-700: 			#1B724D;
$color-one-800: 			#0F573C;
$color-one-900: 			#063828;

$color-two-500: 			#65E087;

$color-info-light: 		#CEE1F5;
$color-info: 					#9FC3EC;
$color-info-dark: 		#2578D4;

$color-success-light: #BDF1B1;
$color-success: 			#78E35F;
$color-success-dark: 	#0BA300;

$color-warning-light: #F9E097;
$color-warning: 			#F2C121;
$color-warning-dark: 	#917415;

$color-alert-light: 	#FCD1D2;
$color-alert: 				#FAA4A6;
$color-alert-dark: 		#F4474A;

$color-text-lighter: 	$color-400;
$color-text-light: 		$color-600;
$color-text: 					$color-800;
$color-text-dark: 		$color-900;

$color-bg-light: 			$color-100;
$color-bg: 						$color-700;
$color-bg-dark: 			$color-900;

$color-border-light: 	$color-200;
$color-border: 				$color-300;
$color-border-dark: 	$color-400;

$color-dribbble: 			#ea4c89;
$color-facebook: 			#3b5998;
$color-facebook-alt: 	#60a2f3;
$color-googleplus: 		#cc3732;
$color-instagram: 		#cd486b;
$color-line: 					#1BB71F;
$color-linkedin: 			#0077b5;
$color-pinterest: 		#cc2127;
$color-twitter: 			#00aced;
$color-whatsapp: 			#33D16B;
$color-youtube: 			#cd201f;

// SHADOW
$box-shadow-100: 			none;
$box-shadow-200: 			0 0 1px rgba($color-800, 0.04), 0 1px 2px 0 rgba($color-800, 0.08);
$box-shadow-300: 			0 0 2px rgba($color-800, 0.04), 0 2px 4px 0 rgba($color-800, 0.08);
$box-shadow-400: 			0 0 4px rgba($color-800, 0.04), 0 4px 8px 0 rgba($color-800, 0.08);
$box-shadow-500: 			0 0 6px rgba($color-800, 0.04), 0 6px 12px 0 rgba($color-800, 0.08);
$box-shadow-600: 			0 0 8px rgba($color-800, 0.04), 0 8px 16px 0 rgba($color-800, 0.08);
$box-shadow-700: 			0 0 10px rgba($color-800, 0.04), 0 10px 20px 0 rgba($color-800, 0.08);
$box-shadow-800: 			0 0 12px rgba($color-800, 0.04), 0 12px 24px 0 rgba($color-800, 0.08);

$text-shadow-100: 		none;
$text-shadow-200: 		0 0 1px rgba($color-800, 0.04), 0 1px 2px 0 rgba($color-800, 0.08);
$text-shadow-300: 		0 0 2px rgba($color-800, 0.04), 0 2px 4px 0 rgba($color-800, 0.08);
$text-shadow-400: 		0 0 4px rgba($color-800, 0.04), 0 4px 8px 0 rgba($color-800, 0.08);
$text-shadow-500: 		0 0 6px rgba($color-800, 0.04), 0 6px 12px 0 rgba($color-800, 0.08);
$text-shadow-600: 		0 0 8px rgba($color-800, 0.04), 0 8px 16px 0 rgba($color-800, 0.08);
$text-shadow-700: 		0 0 10px rgba($color-800, 0.04), 0 10px 20px 0 rgba($color-800, 0.08);
$text-shadow-800: 		0 0 12px rgba($color-800, 0.04), 0 12px 24px 0 rgba($color-800, 0.08);

// TYPOGRAPHY
$sans-serif: 					"IBM Plex Sans", sans-serif;
$serif: 							Georgia, serif;
$monospace: 					"IBM Plex Mono", monospace;

$font-size-100: 			11px;
$line-height-100: 		1.27273;

$font-size-200: 			12px;
$line-height-200: 		1.33334;

$font-size-300: 			13px;
$line-height-300: 		1.38462;

$font-size-400: 			14px;
$line-height-400: 		1.28572;

$font-size-500: 			16px;
$line-height-500: 		1.375;

$font-size-600: 			20px;
$line-height-600: 		1.4;

$font-size-700:	 			24px;
$line-height-700: 		1.33334;

$font-size-800: 			32px;
$line-height-800: 		1.25;

$font-size-900: 			40px;
$line-height-900: 		1.2;

$font-size-1000: 			48px;
$line-height-1000: 		1.16667;

$font-size-1100: 			72px;
$line-height-1100: 		1.11111;

$font-size-1200: 			96px;
$line-height-1200: 		1.16667;

// TRANSITION
$ease-in-quad: 				cubic-bezier(0.550, 0.085, 0.680, 0.530);
$ease-in-cubic: 			cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-in-quart: 			cubic-bezier(0.895, 0.030, 0.685, 0.220);
$ease-in-quint: 			cubic-bezier(0.755, 0.050, 0.855, 0.060);
$ease-in-sine: 				cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-in-expo: 				cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-in-circ: 				cubic-bezier(0.600, 0.040, 0.980, 0.335);
$ease-in-back: 				cubic-bezier(0.600, -0.280, 0.735, 0.045);

$ease-out-quad: 			cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-out-cubic: 			cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-out-quart: 			cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-out-quint: 			cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-out-sine: 			cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-out-expo: 			cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-out-circ: 			cubic-bezier(0.075, 0.820, 0.165, 1.000);
$ease-out-back: 			cubic-bezier(0.175, 0.885, 0.320, 1.275);

$ease-in-out-quad: 		cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ease-in-out-cubic: 	cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-in-out-quart: 	cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-in-out-quint: 	cubic-bezier(0.860, 0.000, 0.070, 1.000);
$ease-in-out-sine: 		cubic-bezier(0.445, 0.050, 0.550, 0.950);
$ease-in-out-expo: 		cubic-bezier(1.000, 0.000, 0.000, 1.000);
$ease-in-out-circ: 		cubic-bezier(0.785, 0.135, 0.150, 0.860);
$ease-in-out-back: 		cubic-bezier(0.680, -0.550, 0.265, 1.550);
