// LAYOUT
$width-max: 1280px;
$width-sidebar: 448px;

$width-origin: 320px;
$width-creeper: 414px;
$width-crawler: 640px;
$width-walker: 768px;
$width-runner: 1024px;
$width-jumper: 1112px;
$width-flyer: 1280px;
$width-teleporter: 1440px;
$width-demigod: 1600px;
$width-god: 1920px;

// space on left and right of wrapper
// MUST HAVE THE SAME KEYS AS $gutters
$margins: (
	origin: 16px,
	creeper: 24px,
	crawler: 32px,
	walker: 48px,
	jumper: 64px,
	flyer: 80px
);

// space between grids
// MUST HAVE THE SAME KEYS AS $margins
$gutters: (
	origin: 16px,
	creeper: 24px,
	crawler: 24px,
	walker:	32px,
	jumper: 32px,
	flyer: 48px
);

// COLOR
$white: #ffffff;
$black: #000000;

$color-50: #fdfdfd;
$color-100: #fafafa;
$color-200: #e5e5e4;
$color-300: #d1d0ce;
$color-400: #a8a7a3;
$color-500: #7f7d78;
$color-600: #6a6864;
$color-700: #555450;
$color-800: #403f3d;
$color-900: #2b2b29;

$color-one-100: #d5efdc;
$color-one-200: #adddbd;
$color-one-300: #87caa0;
$color-one-400: #63b485;
$color-one-500: #409d6c;
$color-one-600: #2c8a5d;
$color-one-700: #1b724d;
$color-one-800: #0f573c;
$color-one-900: #063828;

$color-two-500: #65e087;

$color-info-light: #cee1f5;
$color-info: #9fc3ec;
$color-info-dark: #2578d4;

$color-success-light: #bdf1b1;
$color-success: #78e35f;
$color-success-dark: #0ba300;

$color-warning-light: #f9e097;
$color-warning: #f2c121;
$color-warning-dark: #917415;

$color-alert-light: #fcd1d2;
$color-alert: #faa4a6;
$color-alert-dark: #f4474a;

$color-text-lighter: $color-400;
$color-text-light: $color-600;
$color-text: $color-800;
$color-text-dark: $color-900;

$color-bg-light: $color-100;
$color-bg: $color-700;
$color-bg-dark: $color-900;

$color-border-light: $color-200;
$color-border: $color-300;
$color-border-dark: $color-400;

$color-dribbble: #ea4c89;
$color-facebook: #3b5998;
$color-facebook-alt: #60a2f3;
$color-googleplus: #cc3732;
$color-instagram: #cd486b;
$color-line: #1bb71f;
$color-linkedin: #0077b5;
$color-pinterest: #cc2127;
$color-twitter: #00aced;
$color-whatsapp: #33d16b;
$color-youtube: #cd201f;

// SHADOW
$box-shadow-100: none;
$box-shadow-200: 0 0 1px rgba($color-800, 0.04), 0 1px 2px 0 rgba($color-800, 0.08);
$box-shadow-300: 0 0 2px rgba($color-800, 0.04), 0 2px 4px 0 rgba($color-800, 0.08);
$box-shadow-400: 0 0 4px rgba($color-800, 0.04), 0 4px 8px 0 rgba($color-800, 0.08);
$box-shadow-500: 0 0 6px rgba($color-800, 0.04), 0 6px 12px 0 rgba($color-800, 0.08);
$box-shadow-600: 0 0 8px rgba($color-800, 0.04), 0 8px 16px 0 rgba($color-800, 0.08);
$box-shadow-700: 0 0 10px rgba($color-800, 0.04), 0 10px 20px 0 rgba($color-800, 0.08);
$box-shadow-800: 0 0 12px rgba($color-800, 0.04), 0 12px 24px 0 rgba($color-800, 0.08);

$text-shadow-100: none;
$text-shadow-200: 0 0 1px rgba($color-800, 0.04), 0 1px 2px 0 rgba($color-800, 0.08);
$text-shadow-300: 0 0 2px rgba($color-800, 0.04), 0 2px 4px 0 rgba($color-800, 0.08);
$text-shadow-400: 0 0 4px rgba($color-800, 0.04), 0 4px 8px 0 rgba($color-800, 0.08);
$text-shadow-500: 0 0 6px rgba($color-800, 0.04), 0 6px 12px 0 rgba($color-800, 0.08);
$text-shadow-600: 0 0 8px rgba($color-800, 0.04), 0 8px 16px 0 rgba($color-800, 0.08);
$text-shadow-700: 0 0 10px rgba($color-800, 0.04), 0 10px 20px 0 rgba($color-800, 0.08);
$text-shadow-800: 0 0 12px rgba($color-800, 0.04), 0 12px 24px 0 rgba($color-800, 0.08);

// TYPOGRAPHY
$sans-serif: "IBM Plex Sans", sans-serif;
$serif: georgia, serif;
$monospace: "IBM Plex Mono", monospace;

// TRANSITION
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
